<div id="theform">
	<%= form_for @publication, :html => { :multipart => true } do |f| %>
		<% if @publication.errors.any? %>
	    	<div id="error_explanation">
	      		<h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
	      		<ul>
	      		<% @publication.errors.full_messages.each do |msg| %>
	        		<li><%= msg %></li>
	      		<% end %>
	      		</ul>
	    	</div>
	  <% end %>
	<p>
		<%= f.label :title %>
	    <%= f.text_field :title, :class => 'inputbig' %>
	</p>
	<p>
		<%= f.label :body %>
	    <%= f.text_area :body %>
	</p>
	<%= render :partial => 'attachment', :collection => @publication.attachments %>
	<p>
		<%= f.submit t(:publish), :class => 'submitfinal' %>
	</p>
	<% end %>
</div>
