<h2>Todas las publicaciones</h2>

<% @publications.each do |publication| %>
  <div class="publication">
    <a title="<%= publication.title %>" href="<%=publication_path publication%>">
		<div class="publidate">
			<h4><span><%=publication.created_at.day%></span> <%=publication.created_at.strftime('%b').downcase!%></h4>
		</div>
		<div class="publititle">
			<h3><%= publication.title %></h3>
			<p>por: <%= publication.user.name || publication.user.email%></p>
		</div>
		<div class="publicomments">
			<h4>0</h4>
		</div>
		<div class="publitype">
			<%=image_tag get_category_image(publication), :alt => get_category_name(publication) %>
		</div>
    </a>
  </div>

<% end %>