<div id="publication">
	<div class="publidate">
		<h4><span><%=@publication.created_at.day%></span> <%=@publication.created_at.strftime('%b').downcase!%></h4>
	</div>
	<div class="publititle">
		<h3><%= @publication.title %></h3>
		<p>por: <%= @publication.user.name || @publication.user.email%></p>
	</div>
	<div class="publitype">
		<%=image_tag get_category_image(@publication), :alt => get_category_name(@publication) %>
	</div>
	<div class="publicontent">
		<p><%= @publication.body %></p>
	</div>
	<div class="publiattach">
		<ul></ul>
	</div>
	<div id="comments">
		
	</div>
</div>