<div id="publication">
	<div class="publidate">
		<h4><span><%=@publication.created_at.day%></span> <%=@publication.created_at.strftime('%b').downcase!%></h4>
	</div>
	<div class="publititle">
		<h3><%= @publication.title %></h3>
		<p>por: <%= @publication.user.name || @publication.user.email%></p>
	</div>
	<div class="publitype">
		<%=image_tag get_category_image(@publication), :alt => get_category_name(@publication) %>
	</div>
	<div class="publicontent">
		<p><%= @publication.body %></p>
	</div>
	<div class="publiattach">
		<ul>
		<% @publication.attachments.each do |attachment| %>
			<li>
				<%= link_to attachment.asset.original_filename, attachment.asset.url %>
			</li>
		<% end %>
		</ul>
	</div>
</div>
	
<div id="comments">
	<% @publication.comments.each do |comment| %>
		<div class="comment">
			<div class="commenticon">
				<%=image_tag comment.user.avatar.url(:thumb), :alt => 'user-icon' %>
			</div>
			<div class="commentinfo">
				<h4><span><%= comment.user.name || comment.user.email %></span> hace <%=distance_of_time_in_words_to_now comment.created_at %></h4>
				<p><%=comment.body %></p>
				<% if user_signed_in? && (current_user == @publication.user || current_user == comment.user) %>
					<%= button_to "Eliminar", [@publication, comment], :confirm => "Esta seguro de eliminar el comentario?", :method => :delete %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>		
		
<div id="commentsform">
	<div class="commenticon">
		<%=image_tag current_user.avatar.url(:thumb), :alt => 'user-icon' %>
	</div>
	<div class="commentform">
		<p>Deja tu comentario ...</p>
		<%= form_for [@publication, Comment.new] do |form| %>
			<% if @publication.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
					<ul>
					<% @publication.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
			<%= form.text_area :body %>
			<%= form.submit 'Publicar', :class => 'submitfinal' %>
		<% end %>
	</div>
</div>

<% content_for :help do %>
	<%= render :partial => "shared/userpublished" %>
<% end %>