<h2>Olvidaste tu password?</h2>

<div id="theform">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <p><%= f.label :email %>
	  <%= f.text_field :email, :class => 'inputnormal' %></p>

	  <p><%= f.submit "Enviame las instrucciones para resetear mi password", :class => 'submitfinal' %></p>
	<% end %>

</div>

<% content_for :help do %>
	<%= render :partial => "devise/shared/links" %>
<% end %>