
<h2>Hola, bienvenid@!</h2>

<div id="theform">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <p><%= f.label :email %>
	  <%= f.text_field :email, :class => 'inputnormal' %></p>

	  <p><%= f.label :password %>
	  <%= f.password_field :password, :class => 'inputnormal' %></p>

	  <% if devise_mapping.rememberable? -%>
	    <p class="gray"><%= f.check_box :remember_me, :class => 'inputcheck' %> <%= f.label "Recordarme" %></p>
	  <% end -%>

	  <p><%= f.submit "Entrar", :class => 'submitfinal' %></p>
	<% end %>

</div>

<% content_for :help do %>
	<%= render :partial => "devise/shared/links" %>
<% end %>