<!DOCTYPE html>
<html>
<head>
  <title>Repositorio</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'main.less', :rel => 'stylesheet/less' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'less-1.0.22.min', 'application' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page">
		
		<div id="header">
			
			<div id="title">
				<h1>Repositorio</h1>
			</div>
			
			<%= render :partial => 'shared/menu' %>

			
		</div>
		
		<div id="content">
			<div id="text">
				<%= yield %>
			</div>
			
			<div id="bar">
				<%= render :partial => 'shared/userinfo' %>


	                <div id="user-published">
	                    <h3><span>Mis publicaciones</span> <a title="Ver todas mis publicaciones" href="#">Ver todas</a></h3>
	                    <ul>
	                        <li><a title="Variables de autos" href="#">Variables de autos</a></li>
	                        <li><a title="Bienvenidos al repositorio del proyecto" href="#">Bienvenidos al repositorio del proyecto</a></li>
	                    </ul>
	                </div><!--end user-published-->

	                <div id="how-to">
	                    <h3>Instrucciones de uso</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sem dui, imperdiet eget varius sit amet, adipiscing ut lectus. Suspendisse tincidunt, enim ac ornare vulputate, mi est pulvinar felis, sed scelerisque justo neque in urna.</p>
	                    <p>Nam luctus, nibh non pulvinar pulvinar, ipsum mauris sodales mi, sed aliquet felis dolor in ligula.</p>
	                </div><!--end how-to-->

	            </div><!--end bar-->
		</div>
		
		<div id="footer">
			<div id="quote">
				<p><span>&laquo;Y el workflow?&raquo;</span> &mdash; Usuario N</p>
			</div>
			
			<div id="add-quote">
				<p><a title="Agrega tu frase" href="#">Agrega tu frase</a></p>
			</div>
		</div>
		
	</div>
</body>
</html>
