<!DOCTYPE html>
<html>
<head>
  <title>Repositorio</title>
  <%= stylesheet_link_tag 'stylesheet' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'less-1.0.22.min', 'application' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page">
		
		<div id="header">
			
			<div id="title">
				<h1>Repositorio</h1>
			</div>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			
			<%= render :partial => 'shared/menu' %>

			
		</div>
		
		<div id="content">
			<div id="text">
				<%= yield %>
			</div>
			
			<div id="bar">
				<%= render :partial => 'shared/userinfo' %>
				<%= yield :help %>
	        </div><!--end bar-->
		</div>
		
		<div id="footer">
			<div id="quote">
				<p><span>&laquo;Y el workflow?&raquo;</span> &mdash; Usuario N</p>
			</div>
			
			<div id="add-quote">
				<p><a title="Agrega tu frase" href="#">Agrega tu frase</a></p>
			</div>
		</div>
		
	</div>
</body>
</html>
